Checks: '-*,readability-identifier-naming,clang-diagnostic-*,clang-analyzer-*,portability-*,cert-*,performance-*,misc-*'
WarningsAsErrors: true

CheckOptions:
  
  # Functions
  - key: readability-identifier-naming.FunctionCase
    value: Pascal_Case_Underlined
  - key: readability-identifier-naming.GlobalFunctionPrefix
    value: "sc_"
  - key: readability-identifier-naming.FunctionPrefix
    value: "sc_"

  # Variables
  - key: readability-identifier-naming.GlobalVariableCase
    value: snake_case
  - key: readability-identifier-naming.GlobalVariablePrefix
    value: "sc_"
  - key: readability-identifier-naming.StaticVariableCase
    value: snake_case
  - key: readability-identifier-naming.StaticVariableSuffix
    value: "_s"
  - key: readability-identifier-naming.ParameterCase
    value: snake_case
  - key: readability-identifier-naming.LocalVariableCase
    value: snake_case

  # Constants
  - key: readability-identifier-naming.ConstantCase
    value: ALL_CAPS
  - key: readability-identifier-naming.GlobalConstantPrefix
    value: "sc_"
  - key: readability-identifier-naming.LocalConstantCase
    value: snake_case
  - key: readability-identifier-naming.LocalConstantPrefix
    value: "k_"
  - key: readability-identifier-naming.ConstantParameterCase
    value: snake_case
  - key: readability-identifier-naming.ConstantParameterPrefix
    value: "k_"
  - key: readability-identifier-naming.StaticConstantSuffix
    value: "_s"

  # Structs
  - key: readability-identifier-naming.StructCase
    value: camelCase
  - key: readability-identifier-naming.StructPrefix
    value: "sc_"
  - key: readability-identifier-naming.MemberCase
    value: snake_case

  # Enums
  - key: readability-identifier-naming.EnumCase
    value: camelCase
  - key: readability-identifier-naming.EnumPrefix
    value: "sc_"
  - key: readability-identifier-naming.EnumConstantCase
    value: ALL_CAPS

  # Typedefs
  - key: readability-identifier-naming.TypedefCase
    value: camelCase
  - key: readability-identifier-naming.TypedefPrefix
    value: "sc_"

  # # Macros are not used, because clang-tidy cannot differenciate macro functions between other macro types
  # - key: readability-identifier-naming.MacroDefinitionCase
  #   value: ALL_CAPS
  # - key: readability-identifier-naming.MacroDefinitionPrefix
  #   value: "SC_"
  # - key: readability-identifier-naming.MacroDefinitionSuffix
  #   value: "_m"
