Checks: >
  -*,
  -bugprone-easily-swappable-parameters
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-pro-type-cstyle-cast,
  google-readability-casting
  modernize-*,
  portability-*,
  readability-avoid-bad-function,
  readability-avoid-magic-numbers,
  readability-braces-around-statements,
  readability-else-after-return,
  readability-function-cognitive-complexity,
  readability-function-size,
  readability-identifier-naming,
  readability-misleading-indentation,
  readability-simplify-boolean-expr,

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file

CheckOptions:

  # =======================================================================
  # AVOID BAD FUNCTIONS
  # =======================================================================
  - key: readability-avoid-bad-function.Functions
    value: 'free:Use su_FREE_M instead, malloc:Use su_MALLOC_M instead, calloc:Use su_CALLOC_M instead'

  # =======================================================================
  # FUNCTION NAMING
  # =======================================================================
  - key: readability-identifier-naming.GlobalFunctionPrefix
    value: "csaci_"
  - key: readability-identifier-naming.GlobalFunctionCase
    value: lower_case

  - key: readability-identifier-naming.FunctionPrefix
    value: "csaci__"
  - key: readability-identifier-naming.FunctionCase
    value: lower_case

  # =======================================================================
  # VARIABLE NAMING
  # =======================================================================
  - key: readability-identifier-naming.GlobalVariableCase
    value: UPPER_CASE
  - key: readability-identifier-naming.GlobalVariablePrefix
    value: "csaci_g_"

  - key: readability-identifier-naming.StaticVariablePrefix
    value: "csaci__"
  - key: readability-identifier-naming.StaticVariableCase
    value: lower_case

  - key: readability-identifier-naming.StaticConstantPrefix
    value: "CSACI__"
  - key: readability-identifier-naming.StaticConstantCase
    value: UPPER_CASE

  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.LocalVariableCase
    value: lower_case

  # =======================================================================
  # CONSTANT NAMING
  # =======================================================================
  - key: readability-identifier-naming.GlobalConstantPrefix
    value: "CSACI_G_"
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE

  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE

  - key: readability-identifier-naming.LocalConstantCase
    value: lower_case

  - key: readability-identifier-naming.ConstantParameterCase
    value: lower_case
  - key: readability-identifier-naming.ConstantPointerParameterCase
    value: lower_case

  # =======================================================================
  # STRUCT NAMING
  # =======================================================================
  - key: readability-identifier-naming.StructPrefix
    value: "CSaci"
  - key: readability-identifier-naming.StructCase
    value: CamelCase

  - key: readability-identifier-naming.MemberCase
    value: lower_case

  # =======================================================================
  # ENUM NAMING
  # =======================================================================
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumPrefix
    value: "CSaci"

  - key: readability-identifier-naming.EnumConstantPrefix
    value: "CSACI_"
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE

  # =======================================================================
  # TYPEDEF NAMING
  # =======================================================================
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.TypedefPrefix
    value: "CSaci"

  # =======================================================================
  # MACRO NAMING
  # =======================================================================
  - key: readability-identifier-naming.MacroDefinitionPrefix
    value: "CSACI_"
  - key: readability-identifier-naming.MacroDefinitionCase
    value: ALL_CAPS

