# General configuration for H files
IndentWidth: 4
ColumnLimit: 0
SortIncludes: false                            # DO NOT CHANGE
AlignTrailingComments: true                    # Do not align comments
AlignConsecutiveDeclarations: AcrossEmptyLines # Align consecutive declarations
AlignConsecutiveAssignments: AcrossEmptyLines  # Align consecutive assignments
AlignAfterOpenBracket: Align
PointerAlignment: Left                 # Asterisk closest to type
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
SpacesBeforeTrailingComments: 1
