Checks: >
  -*,
  clang-analyzer-*,
  cert-*,
  bugprone-*,
  portability-*,
  modernize-*,
  readability-braces-around-statements,
  readability-else-after-return,
  readability-function-cognitive-complexity,
  readability-function-size,
  readability-misleading-indentation,
  readability-simplify-boolean-expr,
  readability-avoid-magic-numbers,
  readability-identifier-naming,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  
  # Functions There needs to be a check for static functions
  - key: readability-identifier-naming.FunctionPrefix
    value: "su__"
  - key: readability-identifier-naming.FunctionCase
    value: snake_case
  - key: readability-identifier-naming.GlobalFunctionPrefix
    value: "su_"

  # Variables
  - key: readability-identifier-naming.GlobalVariableCase
    value: lower_case
  - key: readability-identifier-naming.GlobalVariablePrefix
    value: "su_"
  - key: readability-identifier-naming.StaticVariableCase
    value: lower_case
  - key: readability-identifier-naming.StaticVariablePrefix
    value: "su__"
  - key: readability-identifier-naming.StaticConstantPrefix
    value: "su__"
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.LocalVariableCase
    value: lower_case

  # Constants
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.GlobalConstantPrefix
    value: "su_"
  - key: readability-identifier-naming.LocalConstantCase
    value: lower_case
  - key: readability-identifier-naming.ConstantParameterCase
    value: lower_case
  - key: readability-identifier-naming.ConstantPointerParameterCase
    value: lower_case
  - key: readability-identifier-naming.StaticConstantPrefix
    value: "su__"

  # Structs
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.StructPrefix
    value: "su_"
  - key: readability-identifier-naming.MemberCase
    value: lower_case

  # Enums
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumPrefix
    value: "su_"
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.EnumConstantPrefix
    value: "su_"

  # Typedefs
  - key: readability-identifier-naming.TypedefCase
    value: camelCase
  - key: readability-identifier-naming.TypedefPrefix
    value: "su_"

  # Macros
  - key: readability-identifier-naming.MacroDefinitionCase
    value: ALL_CAPS
  - key: readability-identifier-naming.MacroDefinitionPrefix
    value: "su_"
  # Function macros need a _m suffix
  # - key: readability-identifier-naming.MacroDefinitionSuffix
  #   value: "_m"
