Checks: '-*,readability-identifier-naming,clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,modernize-*,-modernize-use-trailing-return-type'
WarningsAsErrors: true

CheckOptions:
  - key: readability-identifier-naming.GlobalFunctionPrefix
    value: "sa_"
  - key: readability-identifier-naming.FunctionPrefix
    value: "__sa_"
  - key: readability-identifier-naming.FunctionCase
    value: camelCase

